<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html" charset="UTF-8"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>首页</title>
    <link rel="stylesheet" href="../assets/wap/css/app.css">
</head>
<body>
    <div id="app" class="gk-layout" v-cloak>
        <div class="gk-header">
            <van-nav-bar
                @click-right="seach">
                <van-icon name="manager" slot="left" size="0.6rem"></van-icon>
                <van-icon name="search" slot="right" size="0.6rem"></van-icon>
            </van-nav-bar>
            <div class="gk-bg-img"></div>
        </div>
        <div class="gk-content">
            <div class="gk-index-tip">联合主办单位：教育部高校学生司 全国高等学校学生信息咨询与就业指导中心</div>
            <div class="gk-index-about">
                <div class="about-item" @click="openZxz">咨询周介绍<van-icon name="arrow"></van-icon></div>
                <div class="about-item" @click="openGz">关注我们<van-icon name="arrow"></van-icon></div>
            </div>
            <div class="gk-bg-color"></div>
            <div class="gk-padding-lr gk-block-bg">
                <div class="gk-block-title">
                    <h2>省市专场</h2>
                </div>
                <van-row :gutter="10">
                    <van-col span="8" class="gk-margin-b">
                        <div class="gk-block-item">
                            <div class="item-name">北京</div>
                            <div class="item-time">6月22日—26日</div>
                        </div>
                    </van-col>
                    <van-col span="8" class="gk-margin-b">
                        <div class="gk-block-item">
                            <div class="item-name">北京</div>
                            <div class="item-time">6月22日—26日</div>
                        </div>
                    </van-col>
                    <van-col span="8" class="gk-margin-b">
                        <div class="gk-block-item">
                            <div class="item-name">北京</div>
                            <div class="item-time">6月22日—26日</div>
                        </div>
                    </van-col>
                    <van-col span="8" class="gk-margin-b">
                        <div class="gk-block-item">
                            <div class="item-name">北京</div>
                            <div class="item-time">6月22日—26日</div>
                        </div>
                    </van-col>
                    <van-col span="8" class="gk-margin-b">
                        <div class="gk-block-item">
                            <div class="item-name">北京</div>
                            <div class="item-time">6月22日—26日</div>
                        </div>
                    </van-col>
                    <van-col span="8" class="gk-margin-b">
                        <div class="gk-block-item">
                            <div class="item-name">北京</div>
                            <div class="item-time">6月22日—26日</div>
                        </div>
                    </van-col>
                    <van-col span="8" class="gk-margin-b">
                        <div class="gk-block-item">
                            <div class="item-name">北京</div>
                            <div class="item-time">6月22日—26日</div>
                        </div>
                    </van-col>
                    <van-col span="8" class="gk-margin-b">
                        <div class="gk-block-item">
                            <div class="item-name">北京</div>
                            <div class="item-time">6月22日—26日</div>
                        </div>
                    </van-col>
                    <van-col span="8" class="gk-margin-b">
                        <div class="gk-block-item">
                            <div class="item-name">北京</div>
                            <div class="item-time">6月22日—26日</div>
                        </div>
                    </van-col>
                    <van-col span="8" class="gk-margin-b">
                        <div class="gk-block-item">
                            <div class="item-name">北京</div>
                            <div class="item-time">6月22日—26日</div>
                        </div>
                    </van-col>
                </van-row> 
            </div>
            <div class="gk-bg-color"></div>
            <van-tabs v-model="active" color="#1DB278" class="gk-margin-b">
                <van-tab title="省市招办咨询入口"></van-tab>
                <van-tab title="高校咨询入口"></van-tab>
            </van-tabs>
            <div class="gk-padding-lr">
                <van-row :gutter="10">
                    <van-col span="6" class="gk-margin-b">
                        <div class="gk-block-ss">北京</div>
                    </van-col>
                    <van-col span="6" class="gk-margin-b">
                        <div class="gk-block-ss">北京</div>
                    </van-col>
                    <van-col span="6" class="gk-margin-b">
                        <div class="gk-block-ss">北京</div>
                    </van-col>
                    <van-col span="6" class="gk-margin-b">
                        <div class="gk-block-ss">北京</div>
                    </van-col>
                    <van-col span="6" class="gk-margin-b">
                        <div class="gk-block-ss">北京</div>
                    </van-col>
                    <van-col span="6" class="gk-margin-b">
                        <div class="gk-block-ss">北京</div>
                    </van-col>
                    <van-col span="6" class="gk-margin-b">
                        <div class="gk-block-ss">北京</div>
                    </van-col>
                    <van-col span="6" class="gk-margin-b">
                        <div class="gk-block-ss">北京</div>
                    </van-col>
                    <van-col span="6" class="gk-margin-b">
                        <div class="gk-block-ss">北京</div>
                    </van-col>
                </van-row>
            </div>
            <div class="gk-bg-color"></div>
        </div>
        <van-tabs v-model="active" color="#1DB278">
            <van-tab title="省市招办咨询入口"></van-tab>
            <van-tab title="高校咨询入口"></van-tab>
        </van-tabs>
        <van-search placeholder="输入学校名称" v-model="value"></van-search>
        <div class="gk-list">
            <div class="scorll-fixed-top">
                <van-dropdown-menu active-color="#1DB278" >
                    <van-dropdown-item title="省份" v-model="value1" :options="option1"></van-dropdown-item>
                    <van-dropdown-item title="院校类型" v-model="value2" :options="option2"></van-dropdown-item>
                    <van-dropdown-item title="隶属" v-model="value3" :options="option3"></van-dropdown-item>
                    <van-dropdown-item title="等级" v-model="value4" :options="option4"></van-dropdown-item>
                </van-dropdown-menu>
            </div>
            <van-cell style="color: #666">
                <template slot="title">
                    <span class="custom-text">学校名称</span>
                    <van-icon name="warning-o" size="0.4rem" style="vertical-align: sub;"></van-icon>
                </template>
                <template slot="default">
                    <div>咨询开放时间</div>
                </template>
            </van-cell>
            <van-list
                v-model="loading"
                :finished="finished"
                finished-text="没有更多了"
            @load="onLoad">
            <van-cell class="gk-list-item" v-for="i in 10">
                <template slot="title">
                    <span class="custom-text">北京大学</span>
                    <van-tag type="success" class="gk-tag">211</van-tag>
                    <van-tag type="success" class="gk-tag">985</van-tag>
                    <van-tag type="success" class="gk-tag">研</van-tag>
                </template>
                <template slot="default">
                    <div>6月22日至6月28日</div>
                    <div>09:00-17:00</div>
                </template>
            </van-cell>
            </van-list>
        </div>
        <div class="gk-bg-color"></div>
        <van-nav-bar
            title="我的"
            left-arrow>
        </van-nav-bar>
        <van-cell>
            <van-icon name="manager" slot="icon" size="1.2rem" color="#bfefd8"></van-icon>
            <div slot="title" class="gk-info">
                <div class="gk-info-item">rcsauhk@153.com</div>
                <div class="gk-info-item gk-info-other">女 天津</div>
            </div>
        </van-cell>
        <div class="gk-bg-color"></div>
        <van-cell-group>
            <van-cell title="性别" value="性别"></van-cell>
            <van-cell title="所在省市" value="天津"></van-cell>
            <van-cell title="所学科类" value="理工"></van-cell>
            <van-cell title="高中" is-link value="天津市第一中学"></van-cell>
        </van-cell-group>
        <div class="gk-bg-color"></div>
        <van-search
            v-model="value"
            placeholder="请输入搜索关键词"
            show-action>
            <div slot="action" style="color: #1DB278">我的提问</div>
        </van-search>
        <van-collapse v-model="activeNames">
            <van-collapse-item class="gk-cell-tag" name="1">
                <template slot="icon">
                    <van-tag type="primary" mark>问</van-tag>
                </template>
                <template slot="title">
                    <van-tag class="gk-cell-tag_title" type="danger" plain>顶</van-tag>
                    <span>北京航空航天大学2017年在云南招少数民族预科生吗</span>
                </template>
                <div>15***12 (北京) 2018-01-22 14:49</div>
                <div>研招网是中国领先的在职研究生教育门户网站和国内专业的在职研究生报名搜索引擎，在职研究生招生信息发布平台，帮助学员正确报考理想的高校在职申请硕士学位专业。</div>
                <van-cell class="gk-cell-tag_req">
                    <template slot="icon">
                        <van-tag type="success" mark>答</van-tag>
                    </template>
                    <template slot="title">
                        <span>研招网是中国领先的在职研究生教育门户网站和国内专业的在职研究生报名搜索引擎，在职研究生招生信息发布平台，帮助学员正确报考理想的高校在职申请硕士学位专业。</span>
                    </template>
                </van-cell>
            </van-collapse-item>
            <van-collapse-item class="gk-cell-tag" name="2">
                <template slot="icon">
                    <van-tag type="primary" mark>问</van-tag>
                </template>
                <template slot="title">
                    <van-tag class="gk-cell-tag_title" type="danger" plain>顶</van-tag>
                    <span>北京航空航天大学2017年在云南招少数民族预科生吗</span>
                </template>
                <div>15***12 (北京) 2018-01-22 14:49</div>
                <div>研招网是中国领先的在职研究生教育门户网站和国内专业的在职研究生报名搜索引擎，在职研究生招生信息发布平台，帮助学员正确报考理想的高校在职申请硕士学位专业。</div>
                <van-cell class="gk-cell-tag_req">
                    <template slot="icon">
                        <van-tag type="success" mark>答</van-tag>
                    </template>
                    <template slot="title">
                        <span>研招网是中国领先的在职研究生教育门户网站和国内专业的在职研究生报名搜索引擎，在职研究生招生信息发布平台，帮助学员正确报考理想的高校在职申请硕士学位专业。</span>
                    </template>
                </van-cell>
            </van-collapse-item>
            <van-collapse-item class="gk-cell-tag" name="3">
                <template slot="icon">
                    <van-tag type="primary" mark>问</van-tag>
                </template>
                <template slot="title">
                    <van-tag class="gk-cell-tag_title" type="danger" plain>顶</van-tag>
                    <span>北京航空航天大学2017年在云南招少数民族预科生吗</span>
                </template>
                <div>15***12 (北京) 2018-01-22 14:49</div>
                <div>研招网是中国领先的在职研究生教育门户网站和国内专业的在职研究生报名搜索引擎，在职研究生招生信息发布平台，帮助学员正确报考理想的高校在职申请硕士学位专业。</div>
                <van-cell class="gk-cell-tag_req">
                    <template slot="icon">
                        <van-tag type="success" mark>答</van-tag>
                    </template>
                    <template slot="title">
                        <span>研招网是中国领先的在职研究生教育门户网站和国内专业的在职研究生报名搜索引擎，在职研究生招生信息发布平台，帮助学员正确报考理想的高校在职申请硕士学位专业。</span>
                    </template>
                </van-cell>
            </van-collapse-item>
        </van-collapse>
        <div class="gk-bg-color"></div>
        <van-tabs v-model="active" color="#1DB278" class="gk-margin-b">
            <van-tab title="讨论区"></van-tab>
            <van-tab title="精华区"></van-tab>
            <van-tab title="公告区"></van-tab>
        </van-tabs>
        <van-button type="primary" size="large" @click="show=true">我要咨询</van-button>
        <van-popup v-model="show" position="right">
            <!-- <van-nav-bar
                title="提交问题"
                right-text="确定"
                left-arrow
                @click-left="show=false"
                @click-right="show=false">
            </van-nav-bar> -->
            <van-nav-bar
                class="gk-dialog-nav"
                title="提交问题"
                @click-left="show=false"
                left-text="取消">
                <van-button type="default" slot="right" size="small">确定</van-button>
            </van-nav-bar>
            <van-cell-group>
                <van-field v-model="value" placeholder="输入标题"></van-field>
                <van-field v-model="value" type="textarea" rows="6" autosize placeholder="输入问题描述"></van-field>
                <div class="gk-text-count">{{value.length}} </div>
                <div class="gk-text-tip">
                    当前院校老师负责回答本版问题。<br>
                    问题在得到解答以后才会显示出来。<br>
                    提问时请尽量将问题概况叙述在标题里，方便老师回答问题。
                </div>
            </van-cell-group>
        </van-popup>
    </div>
    <script src="https://t1.chei.com.cn/common/js/vue/2.6.10/vue.min.js"></script>
    <script src="../assets/wap/js/vendors.js"></script>
    <script src="../assets/wap/js/app.js"></script>
    <script>
        var mixin = {
            data: function() {
                return {
                    testValue: '><sript>alert(1)&lt/script>',
                    activeNames: ['1'],
                    show: false,
                    loading: false,
                    finished: true,
                    active: 0,
                    value: '',
                    value1: 0,
                    value2: 'a',
                    value3: 'a',
                    value4: 'a',
                    option1: [
                        { text: '山西', value: 0 },
                        { text: '山东', value: 1 },
                        { text: '广州', value: 2 }
                        
                    ],
                    option2: [
                        { text: '211', value: 'a' },
                        { text: '985', value: 'b' },
                        { text: '研究生院', value: 'c' },
                    ],
                    option3: [
                        { text: '教育部', value: 'a' },
                        { text: '其他部委', value: 'b' },
                        { text: '地方', value: 'c' },
                    ],
                    option4: [
                        { text: '综合院校', value: 'a' },
                        { text: '工科院校', value: 'b' },
                        { text: '医药院校', value: 'c' },
                    ]
                }
            },
            methods: {
                onLoad: function() {

                },
                seach: function() {

                },
                openZxz: function() {
                    this.$dialog.alert({
                        confirmButtonText: '确定',
                        title: '咨询周介绍',
                        message: '教育部“2018年高考网上咨询周”活动将于6月22日在“阳光高考”信息平台正式启动。根据全国各省（区、市）高考志愿填报时间安排，今年网上咨询活动时间为6月22日至28日；每日咨询时间9点至17点。 “咨询周”期间，省级招生管理部门、全国招生高校将在线回答问题，另外北京、上海、江苏、浙江、福建、河南、广东、海南、贵州、青海十个省份将在平台举办咨询专场。'
                    }).then(() => {
                        
                    });
                },
                openGz: function() {
                    var html = '<div class="gk-ewm">'
                             + '<div class="gk-ewm-item">'
                             + '<img src="./../src/images/ewm.jpg" width="100%"/>'
                             + '<div class="gk-ewm-item_des">微信扫一扫 高考全知道</div>'
                             + '</div>'
                             + '<div class="gk-ewm-item">'
                             + '<img src="./../src/images/ewm.jpg" width="100%"/>'
                             + '<div class="gk-ewm-item_des">阳光高考 官方微博</div>'
                             + '</div>'
                             + '</div>';
                    this.$dialog.alert({
                        confirmButtonText: '确定',
                        title: '关注我们',
                        message: html
                    }).then(() => {
                        // on close
                    });
                }
            }
        }
        new Vue({
            el: '#app',
            mixins: typeof mixin != 'undefined' ? [mixin] : {}
        });
    </script>
</body>
</html>