html {
  color: #333;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body,
p,
ul,
ol,
li,
img,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
select,
input {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font: 0.14rem/1.8 "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

ul,
ol,
li {
  list-style: none;
}

fieldset,
img {
  border: 0;
}

p {
  text-indent: 2em;
}

a,
a:link,
a:visited {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: #326ca6;
  text-decoration: underline;
}

.clearfix:after {
  content: '\0020';
  display: block;
  clear: both;
  height: 0;
}

.clearfix {
  zoom: 1;
}

[v-cloak] {
  display: none;
}

.margin-bottom60 {
  margin-bottom: 0.6rem;
}

.margin-bottom30 {
  margin-bottom: 0.3rem;
}

.margin-bottom20 {
  margin-bottom: 0.2rem;
}

xz-layout {
  overflow: hidden;
  font-size: 0.16rem;
}

.xz-header {
  position: relative;
  color: #fff;
}

.xz-header h1 {
  height: 0.9rem;
  line-height: 0.9rem;
  background: #2097f5;
  font-size: 0.34rem;
  text-align: center;
  font-weight: 400;
}

.xz-header .xz-header_close,
.xz-header .xz-header_more {
  position: absolute;
  top: 0;
  height: 0.9rem;
  line-height: 0.9rem;
  font-size: 0.34rem;
  padding: 0 0.3rem;
}

.xz-header .xz-header_close {
  left: 0;
}

.xz-header .xz-header_more {
  font-size: 0.4rem;
  right: 0;
}

.xz-content {
  padding: 0.2rem;
}

.xz-content h2 {
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.28rem;
  text-align: left;
  font-weight: 400;
}

.xz-content .xz-content-line {
  height: 0.02rem;
  background: #e6e6e6;
}

.xz-content .xz-content-overview {
  height: 0.6rem;
  line-height: 0.6rem;
  color: #666;
  font-size: 0.22rem;
  vertical-align: middle;
}

.xz-content .xz-content-overview .overview-item {
  float: left;
  margin-right: 0.6rem;
}

.xz-content .xz-content-overview .overview-item:last-child {
  margin-right: 0;
}

.xz-content .xz-content-overview .overview-item.overview-item_noicon {
  line-height: 0.6rem;
}

.xz-content .xz-content-overview .iconfont {
  font-size: 0.28rem;
}

.xz-content .xz-content-des {
  font-size: 0.28rem;
  line-height: 0.5rem;
  margin-bottom: 0.3rem;
}

.xz-content .xz-content-des .xz-content-des_img {
  display: block;
  border: 0;
  width: 100%;
  margin-bottom: 0.4rem;
}

.xz-content .xz-content-go {
  margin-bottom: 0.2rem;
}

.xz-content .xz-content-go .xz-button {
  display: block;
  margin: 0 auto;
  height: 0.78rem;
  width: 100%;
  line-height: 0.78rem;
  font-size: 0.28rem;
  color: #fff;
  background: #2097f5;
  border-radius: 0.39rem;
  text-align: center;
}

.xz-content .xz-content-go .xz-button:hover {
  text-decoration: none;
}

.xz-content .xz-content-cutline {
  height: 0.66rem;
  padding: 0.01rem;
}

.xz-content .xz-content-cutline .xz-content-cutline_line {
  height: 0.02rem;
  width: 100%;
  margin-top: 0.32rem;
  background: #e6e6e6;
}

.xz-content .xz-content-cutline .xz-content-cutline_icon {
  margin: -0.32rem auto 0;
  padding: 0 0 0 0.2rem;
  width: 0.88rem;
  background: #fff;
}

.xz-content .xz-content-cutline .xz-content-cutline_icon .xz-content-cutline_iconbg {
  height: 0.66rem;
  width: 0.66rem;
  border: 0.01rem solid #d2e9fc;
  border-radius: 50%;
  background: url("../image/index_icon.png?v=1523339153761") center center no-repeat;
}

.xz-content .xz-content-other {
  height: 1rem;
  line-height: 1rem;
  font-size: 0.3rem;
  text-align: center;
}

.xz-content .xz-content-other a:link,
.xz-content .xz-content-other a:hover,
.xz-content .xz-content-other a:active {
  color: #333;
  text-decoration: none;
}

.xz-content .xz-content-foreword {
  color: #666;
  height: 0.84rem;
  line-height: 0.84rem;
  font-size: 0.24rem;
}

.xz-content .xz-content-foreword p {
  text-indent: 0;
}

.xz-content .xz-content-topic {
  position: relative;
  overflow: hidden;
  padding: 0.4rem;
  font-size: 0.28rem;
  border: 0.01rem solid #dfdfdf;
  border-radius: 0.2rem;
  -webkit-box-shadow: 0 0 0.08rem #dfdfdf;
  box-shadow: 0 0 0.08rem #dfdfdf;
  background: #fff;
}

.xz-content .xz-content-topic .xz-content-topic_title {
  font-weight: 400;
  padding: 0.3rem 0;
  line-height: 1.5;
}

.xz-content .xz-content-topic .xz-content-topic_key {
  margin-bottom: 0.6rem;
}

.xz-content .xz-content-topic .xz-content-topic_key li {
  height: 0.7rem;
  line-height: 0.7rem;
  padding: 0 0.3rem;
  border: 0.01rem solid #dfdfdf;
  border-radius: 0.7rem;
  margin-bottom: 0.26rem;
}

.xz-content .xz-content-topic .xz-content-topic_key li:last-child {
  margin-bottom: 0;
}

.xz-content .xz-content-topic .xz-content-topic_key li:hover,
.xz-content .xz-content-topic .xz-content-topic_key li.active {
  background: #2097f5;
  color: #fff;
  border: 0.01rem solid #2097f5;
  cursor: pointer;
}

.xz-content .xz-content-topic .xz-content-topic_index {
  position: absolute;
  top: -0.4rem;
  left: -0.4rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #51aef7;
  color: #fff;
}

.xz-content .xz-content-topic .xz-content-topic_index span {
  position: absolute;
}

.xz-content .xz-content-topic .xz-content-topic_index .curr {
  top: 0.39rem;
  right: 0.35rem;
  font-size: 0.2rem;
}

.xz-content .xz-content-topic .xz-content-topic_index .split {
  top: 0.42rem;
  right: 0.29rem;
  font-size: 0.25rem;
  -webkit-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  transform: rotate(6deg);
}

.xz-content .xz-content-topic .xz-content-topic_index .total {
  top: 0.6rem;
  right: 0.15rem;
  font-size: 0.16rem;
}

.xz-content .xz-content-chose {
  font-size: 0.22rem;
  text-align: center;
}

.xz-content .xz-content-chose .xz-content-chose_button {
  height: 0.6rem;
  padding: 0 0.3rem;
  border: 0.01rem solid #dfdfdf;
  margin-right: 0.4rem;
  line-height: 0.6rem;
  border-radius: 0.6rem;
  background: #f9f9f9;
  color: #666;
}

.xz-content .xz-content-chose .xz-content-chose_button:last-child {
  margin-right: 0;
}

.xz-content .xz-content-chose .xz-content-chose_button.xz-content-chose_pdf {
  color: #fff;
  background: #2097f5;
  display: inline-block;
}

.xz-content .xz-content-chose .xz-content-chose_button.xz-content-chose_pdf:hover {
  text-decoration: none;
}

.xz-content .xz-content-chose .xz-content-chose_button.xz-content-chose_retest {
  color: #fff;
  background: #9b9b9b;
}

.xz-content .xz-content-chose .xz-content-chose_button:hover {
  cursor: pointer;
}

.xz-content .xz-content-result_title {
  text-align: center;
}

.xz-content .xz-content-result_time {
  height: 0.3rem;
  margin-bottom: 0.2rem;
  line-height: 0.3rem;
  text-align: center;
  color: #666;
  font-size: 0.24rem;
}

.xz-content .xz-content-result_time .iconfont {
  font-size: 0.24rem;
  margin-right: 0.05rem;
}

.xz-content .xz-content-result_part {
  margin-bottom: 0.3rem;
}

.xz-content .part-title {
  font-size: 0.28rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
}

.xz-content .part-title .iconfont {
  font-size: 0.28rem;
  color: #2097f5;
  margin-right: 0.15rem;
}

.xz-content .part-score {
  font-size: 0.2rem;
  padding-left: 0.42rem;
}

.xz-content .part-score .curr {
  margin-left: 0.15rem;
  color: #2097f5;
  font-size: 0.24rem;
}

.xz-content .part-score .split {
  color: #2097f5;
}

.xz-content .part-score .total {
  color: #2097f5;
}

.xz-content .part-score .part-score_progress {
  display: inline-block;
  height: 0.2rem;
  width: 3rem;
  background: #f9f9f9;
  vertical-align: sub;
}

.xz-content .part-score .part-score_progress .part-score_progressdo {
  width: 2rem;
  margin-left: 0.15rem;
  height: 0.2rem;
  background: #90ceff;
}

.xz-content .part-score-detail {
  padding-left: 0.42rem;
  font-size: 0.2rem;
  color: #666;
}

.xz-content .part-content img {
  display: block;
  margin: 0 auto 0.2rem;
  height: 1.6rem;
}

.xz-content .part-content .part-content_title {
  font-size: 0.26rem;
  text-align: center;
  font-weight: 400;
}

.xz-content .part-content .part-content_detail {
  text-indent: 0;
  font-size: 0.22rem;
  color: #666;
}

.xz-content .part-content .part-content-bg {
  position: relative;
  margin: 0 0.42rem;
  border: 0.02rem solid #90ceff;
  border-radius: 0.06rem;
  padding: 0.2rem 0.3rem;
}

.xz-content .part-content .part-content-bg .part-content-bg_arrow {
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: -0.39rem;
  text-align: center;
  font-size: 0.36rem;
  color: #90ceff;
}

.xz-content .part-content .part-content-bg .part-content-bg_arrow:after {
  position: absolute;
  content: '';
  display: block;
  width: 0.26rem;
  height: 0.02rem;
  background: #fff;
  left: 50%;
  border-radius: 0.02rem;
  margin-left: -0.13rem;
  margin-top: -0.27rem;
}

.xz-content .part-chars {
  width: 100%;
  font-size: 0.2rem;
  margin-bottom: 0.2rem;
}

.xz-content .part-directions,
.xz-content .part-summary {
  font-size: 0.2rem;
  line-height: 1.5;
  padding: 0.15rem 0.1rem;
  border: 0.02rem solid #cbcbcb;
  border-radius: 0.06rem;
  margin-bottom: 0.3rem;
  margin-left: 0.42rem;
}

.xz-content .xz-content-list {
  margin-bottom: 0.3rem;
}

.xz-content .xz-content-list .list-item {
  position: relative;
  padding-left: 2rem;
  height: 1.9rem;
  margin-bottom: 0.2rem;
}

.xz-content .xz-content-list .list-item img {
  position: absolute;
  height: 1.9rem;
  width: 1.9rem;
  left: 0;
  top: 0;
}

.xz-content .xz-content-list .list-item .list-item_title {
  font-size: 0.24rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.1rem 0;
}

.xz-content .xz-content-list .list-item .test-num {
  font-size: 0.18rem;
}

.xz-alert {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.xz-alert .xz-alert_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.xz-alert .xz-alert-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1.85rem;
  margin-left: -2.5rem;
  background: #fff;
  height: 3.7rem;
  width: 5rem;
  -webkit-box-shadow: 0 0 0.1rem #999;
  box-shadow: 0 0 0.1rem #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

.xz-alert .xz-alert-content .xz-alert-content_bg {
  position: absolute;
  background: #fff;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 1.8rem;
  top: -0.6rem;
  left: 1.6rem;
}

.xz-alert .xz-alert-content .xz-alert-content_bg img {
  width: 2rem;
  margin-left: -0.18rem;
  margin-top: -0.1rem;
}

.xz-alert .xz-alert-content .xz-alert-content_close {
  position: absolute;
  right: 0.2rem;
  top: -0.82rem;
}

.xz-alert .xz-alert-content .xz-alert-content_close .close-btn {
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 0.4rem;
  line-height: 0.36rem;
  text-align: center;
  border: 0.02rem solid #b2b2b0;
}

.xz-alert .xz-alert-content .xz-alert-content_close .close-btn:hover {
  cursor: pointer;
}

.xz-alert .xz-alert-content .xz-alert-content_close .close-line {
  position: absolute;
  left: 50%;
  top: 0.42rem;
  height: 0.4rem;
  width: 0.02rem;
  margin-left: -0.01rem;
  background: #b2b2b0;
}

.xz-alert .xz-alert-content .xz-alert-content_close .iconfont {
  font-size: 0.3rem;
  color: #b2b2b0;
  vertical-align: middle;
}

.xz-alert .xz-alert-content h4 {
  margin-top: 1.2rem;
  font-size: 0.3rem;
  text-align: center;
  font-weight: 400;
}

.xz-alert .xz-alert-content .xz-alert-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 0.9rem;
  line-height: 0.9rem;
  border-top: 0.01rem solid #e6e6e6;
  text-align: center;
}

.xz-alert .xz-alert-content .xz-alert-footer a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
  font-size: 0.28rem;
}

.xz-alert .xz-alert-content .xz-alert-footer a:first-child {
  color: #2097f5;
  border-right: 0.01rem solid #e6e6e6;
}

.xz-alert .xz-alert-content .xz-alert-footer a:first-child:hover {
  color: #2097f5;
}

.xz-alert .xz-alert-content .xz-alert-footer a:hover {
  text-decoration: none;
  color: #333;
}